In [1]:
%load_ext autoreload
%autoreload 2

import torch
from lib.data.datasets.GB1 import load_data

s:\Documents\master\ProGen\progen\progen2\.venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
df = load_data()
df

s:\Documents\master\ProGen\progen\progen2\.venv\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

       Variants  HD  Count input  Count selected   Fitness
0          VDGV   0        92735          338346  1.000000
1          ADGV   1           34              43  0.061910
2          CDGV   1          850             641  0.242237
3          DDGV   1           63              63  0.006472
4          EDGV   1          841             190  0.032719
...         ...  ..          ...             ...       ...
149356     YYYR   4          203               1  0.001350
149357     YYYS   4          186               3  0.004421
149358     YYYT   4          181              14  0.021200
149359     YYYW   4           30               1  0.009136
149360     YYYY   4           57               2  0.009617

[149361 rows x 5 columns]

In [6]:
tmp = df.iloc[[0,3,37,49]]
tmp

   Variants  HD  Count input  Count selected   Fitness
0      VDGV   0        92735          338346  1.000000
3      DDGV   1           63              63  0.006472
37     VDGP   1          812             168  0.007556
49     VDNV   1          104               0  0.005746

In [7]:
tmp.drop([3, 49])

   Variants  HD  Count input  Count selected   Fitness
0      VDGV   0        92735          338346  1.000000
37     VDGP   1          812             168  0.007556